{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ SEO_SETTINGS.title }}{% endblock title %}

{% block content %}

{% include 'Main/Slider.html' %}
{% include 'Main/About.html' %}
{% include 'Main/News.html' %}
{% include 'Main/Elon.html' %}
{% include 'Main/Yonalishlar.html' %}
{% include 'Main/Counter.html' %}
{% include 'Main/Rahbariyat.html' %}
{% include 'Main/Video.html' %}
{% include 'Main/InteraktivHizmatlar.html' %}
{% include 'Main/Hamkorlar.html' %}
{% include 'Main/Map.html' %}

{% endblock content %}