{% load static %}
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">

<head>
    {% include 'components/meta_tags.html' %}

    <title>{% block title %}{% endblock title %}</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ SEO_SETTINGS.favicon.url }}">

    {% include 'components/css_links.html' %}
</head>

<body class="rbt-header-sticky">

    {% include 'components/header.html' %}
    {% include 'components/mobile-header.html' %}

    <a class="close_side_menu" href="javascript:void(0);"></a>


    <main class="rbt-main-wrapper">
        {% block content %}
        {% endblock content %}

        {% include 'components/footer.html' %}
    </main>

    <div class="rbt-progress-parent">
        <svg class="rbt-back-circle svg-inner" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>

    {% include 'components/js_links.html' %}
</body>

</html>