{% load static %}

<!-- JS
============================================ -->
    <!-- Modernizer JS -->
    <script src="{% static 'js/modernizr.min.js' %}"></script>
    <!-- jQuery JS -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <!-- Bootstrap JS -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- sal.js -->
    <script src="{% static 'js/sal.js' %}"></script>
    <script src="{% static 'js/swiper.js' %}"></script>
    <script src="{% static 'js/magnify.min.js' %}"></script>
    <script src="{% static 'js/jquery-appear.js' %}"></script>
    <script src="{% static 'js/odometer.js' %}"></script>
    <script src="{% static 'js/backtotop.js' %}"></script>
    <script src="{% static 'js/isotop.js' %}"></script>
    <script src="{% static 'js/imageloaded.js' %}"></script>

    <script src="{% static 'js/wow.js' %}"></script>
    <script src="{% static 'js/waypoint.min.js' %}"></script>
    <script src="{% static 'js/easypie.js' %}"></script>
    <script src="{% static 'js/text-type.js' %}"></script>
    <script src="{% static 'js/jquery-one-page-nav.js' %}"></script>
    <script src="{% static 'js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <script src="{% static 'js/magnify-popup.min.js' %}"></script>
    <script src="{% static 'js/paralax-scroll.js' %}"></script>
    <script src="{% static 'js/paralax.min.js' %}"></script>
    <script src="{% static 'js/countdown.js' %}"></script>
    <script src="{% static 'js/plyr.js' %}"></script>
    <!-- Main JS -->
    <script src="{% static 'js/main.js' %}"></script>